.box {
  position: relative;
  top: 30%;
  opacity: 1;
  margin-left: 20%;
  width: 100%;
  background: #fff;
  border-radius: 10px;
  transform: scale(1);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  z-index: 5;
  max-width: 50%;
  font-size: 30px;
}
